@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Montserrat&display=swap');

body {
    font-family: 'Caveat', cursive;
    font-family: 'Montserrat', sans-serif;
    background-color: #eeeae4;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation .prev,
.slides-navigation .next{
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation {
    z-index: 6;
}

.slides-navigation a.prev {
    left: 20px;
    background-image: url(../img/icons/prev.png);
}
.slides-navigation a.next {
    right: 20px;
    background-image: url(../img/icons/next.png);
}

.titleMessage {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    margin-top: -125px;
    text-align: center;
    color: white;
    font-family: 'Caveat', cursive;
}

.titleMessage .heading p {
    text-shadow: 0px 2px 5px rgba(0,0,0,0.4);
    font-weight: bold;
    letter-spacing: 7px;
}

.main {
    font-size: 50px;
}
.sub {
    font-size: 30px;
}

.section {
    padding: 100px 0;
}

.myphoto {
    max-width: 100%;
}

.skillSection {
    background-color: #354e59;
    color: white;
}
.skillSection h2{
    font-size: 29px;
}

.skill {
    text-align: center;
    margin-left: 10px;
}

.chart {
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
    margin-bottom: 1rem;
}

.skill canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.chart .percent {
    font-size: 35px;
    line-height: 152px;
    display: inline-block;
}
.chart .percent:after {
    content:'%';
}

#contact button {
    width: 30%;
    line-height: 60px;
    font-size: bold;
    margin-top: 3%;
    background-color: #ad9f8a;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    border-radius: 20px;
}
#contact button:hover{
    background-color:#eeeae4;
    color: #ad9f8a;
}
#contact h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact h2::before, h2::after{
    content: '';
    width: 60px;
    height: 5px;
    background-color: #48aaff;
}
#contact h2::before{ transform: rotate(50deg);}
#contact h2::after{ transform: rotate(-50deg);}

.filter a{
    color: rgb(0, 0, 0);
    border: 1px solid #354e59;
    padding: 10px 18px;
    display:block;
    border-radius: 10px;
}
.filter li{
    display: inline-block;
    padding: 5px;
}
.filter .current {
    background-color:#354e59;
    color: white;
    font-weight: bold;
    
}
.filter {
    text-align: center;
    width: 100%;
}
.heading{
    text-align: center;
    width: 100%;
    padding-bottom: 30px;
}

.items li {
    display: inline-block;
    padding: 5px;

}
.itemsContainer {
    width: 100%;
}
.items img {
    width: 100%;
}
.items .item {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 10px;
}
.items {
    padding-left: 0px;
}

.items .icons {
    position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -10% auto 0 -47px;
    text-align: center;
    z-index: 3;
}

.items .icons i {
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
.items a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: red;
    position: relative;

    /* -webkit-transition: all 0.2s linear, 0.3s;
    -moz-transition: all 0.2s linear, 0.3s;
    -o-transition: all 0.2s linear, 0.3s;
    -ms-transition: all 0.2s linear, 0.3s; */
    transition: all 0.2s linear, 0.3s
}
.items .imageOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left:0;
    top: 0;
    opacity: 0;

    /* -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s; */
    transition: all 0.2s linear, 1s;
}
.items .item:hover .imageOverlay{
    opacity: 1;
}

.items .openButton {
    
    float: left;
    left: -200px;
}
.items .projectLink {
   
    float: right;
    right: -200px;
}
.items .item:hover .openButton {
    left: 0px;
}
.items .item:hover .projectLink {
    right: 0px;
}

.owl-prev {
    width: 25px;
    height: 100px;
    position: absolute;
    top: 30%;
    margin-left: -20px;
    display: block !important;
    border:0px solid black;
}

.owl-next {
    width: 25px;
    height: 100px;
    position: absolute;
    top: 30%;
    right: -25px;
    display: block !important;
    border:0px solid black;
}
.owl-prev i, .owl-next i {transform : scale(1,6); color: #ccc;}

#navigation {
	background-color: #e6dcd8;
    padding: 20px 10px;
    z-index: 100;
    width: 100%;
}

#navigation li {
	padding: 0 10px;
}

#navigation li a {
	color: rgb(0, 0, 0);
}

.navbar-brand,
.navbar-brand:hover {
	color: rgb(0, 0, 0);
}

.navbar-toggler-icon {
	background: url(../img/icons/menu.png);
	background-size: 100%;
}

.fixedNav #navigation {
	position: fixed;
	top: 0;
}

.itemTitle {
    text-align: center;
}

@media screen and (min-width: 1080px) {
    .myImage::before{
        content: '';
        position: absolute;
        bottom: -10px;
        right: 0px;
        width: 90%;
        height: 100%;
        background-image: 
            radial-gradient(#999 30%, transparent 31%),
            radial-gradient(#999 30%, transparent 31%);
        background-size: 6px 6px;
        background-position: 0 0, 3px 3px;
        z-index: -1;;
    }
    .name {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .name::before, .name::after{
        content: '';
        width: 100px;
        height: 1px;
        background-color: black;
    }
    .name::before{
        margin-right: 20px;
    }
    .name::after{
        margin-left: 20px;
    }
    }